*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color:#000;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #262626;
}
a:hover{
    border-bottom: 2px solid black;
}
ul{
    list-style: none;
}
.container{
    width:90%;
    max-width: 110rem;
    margin:auto;
}
/*nav*/
.main-nav{
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    .logo{
        width: 7rem;
    }
    ul{
        display: flex;
        &.main-menu{
            flex:1;
            margin-left: 2rem;
        }
        li{
            padding: 0 0.5rem;
            a{
                border-bottom:2px;
            }
            a:hover {
                border-bottom: 2px solid #262626;
            }
        } 
    }
}
/*btn*/
.menu-btn{
    cursor: pointer;
    position: absolute;
    top:1.2rem;
    right:2rem;
    z-index: 2;
    display: none; 
}
.btn{
    background:#000 ;
    color:#f7f7f7;
    margin-top: 0.8rem;
    padding: 0.6rem 1.6rem;
    cursor: pointer;
    display: inline-block;
}

/*showcase*/
.showcase{
    width: 100%;
    height: 27rem;
    background: url('./img/slide2.png')no-repeat center center/cover ;
    display: flex;
    flex-direction: column;
    padding: 8.5rem 0 0 4.5rem;   
    font-size:1rem;
    margin-bottom: 2rem;
    h2{
        font-size: 1.4rem;
    }
    h2,p{
        margin-bottom: 0.9rem;
    }
    
  
    
}

/*option*/
.option{
    display: flex;
    justify-content: space-between;
    margin: 4.5rem 23rem 4.5rem 23rem;
    text-align: center;
    font-size: 0.9rem;
}

/*card1*/
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
    img{
        width: 100%;
        margin-bottom: 1.8rem;
    }
    h2{
        margin-bottom: 0.2rem;
        font-size: 1.3rem;
    }
    p{
        font-size: 0.9rem;
    }
    a{
        display: inline-block;
        font-size: 0.9rem;
        font-weight: bold;
        color: #0067b8;
        padding-top: 1rem;
    }
    a:hover{
        border-bottom:2px solid #0067b8;
    }
}

/*edge*/
.edge{
    width: 100%;
    height: 27rem;
    margin-top: 3rem;
    background: url(./img/microsoftimg.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin:2rem 0 1rem 0;
        font-size: 1.5rem;
    }
    p{
        font-size:1rem;
        text-align: center;    
    }
    a{
        font-size: 1rem;
        padding: 0.4rem 1.3rem 0.4rem 1.3rem;
    }
} 

/*card2*/
.card2{
   h1{
        margin: 2.7rem 0 1rem 0;
        font-size: 1.5rem;
   }
   margin-bottom: 3rem;
}

/*follow*/
.follow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size:1rem;
    margin-bottom: 3rem;
    p{
        opacity: 0.5;
    }
    a {
        padding: 0.5rem;
    }
}

/*link*/
.link{
    background: #f2f2f2;
    color: #616161;
    padding: 3rem;
    h3{
        font-size: 1rem;
    }
    .link-inner{
        max-width: 110rem;
        margin:0 auto;
        padding:0 2rem;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        -ms-grid-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-gap:1rem;
        align-items: flex-start;
        justify-content: center;
        li {
            line-height: 2.8;
        }
    }
}

/*footer*/
.footer{
    background: #f4f4f4;
    color:#616161;
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
    .footer-inner{
        max-width: 110rem;
        margin:0 auto;
        padding: 0 2rem 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            justify-content: space-between;
            font-size: 0.5rem;
            li{
                padding: 1rem;
            }           
        }
        
    }
}

@media(max-width: 900px){

    .menu-btn{
        display: block;
    }
    .main-nav{
        ul.main-menu{
            display: block;
            position:absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: #f2f2f2;
            opacity: 0.9;
            padding: 2rem;
            transform: translateX(-50rem);
            transition:transform 0.5s ease-in-out ;
            &.show{
                transform: translateX(-2rem);
            }
            li{
                padding: 0.8rem;
                border-bottom: #ccc solid 1px;
                font-size: 1.2rem;
            }
            li:last-child{
                border-bottom: 0;
            }
        }
        ul.right-menu{
            margin-right: 3.5rem;
        }
    }
    .btn{
        font-size: 1rem;
        padding: 0.6rem 0.9rem;
    }
    .card{
        grid-template-columns: repeat(2,1fr);
    }
    .option{
        display: none;
    }
    .showcase{
        padding: 2.5rem 0 0 2rem;
        p{
            display: none;
        }
        h2{
            margin-bottom: 2rem;
        }
    }
}

@media(max-width:700px){
    .btn {
        font-size:1rem;
        padding: 0.5rem 0.7rem;
    }
    .card {
        grid-template-columns: repeat(1,1fr);
    }
}
