body {
  font-family: "Inter", sans-serif;
}

.container {
  display: grid; /*二維*/
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "siderbar main main main"
    "siderbar container1 container2 container3"
    "siderbar footer footer footer";
  grid-gap: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

nav {
  background-color: #774499;
  grid-area: nav;
}

main {
  background-color: aqua;
  grid-area: main;
}

#siderbar {
  background-color: burlywood;
  grid-area: siderbar;
}

#container1 {
  background-color: chartreuse;
  grid-area: container1;
}

#container2 {
  background-color: crimson;
  grid-area: container2;
}

#container3 {
  background-color: darkblue;
  grid-area: container3;
}

footer {
  background: linear-gradient(blue, pink);
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "siderbar"
      "container1"
      "container2"
      "container3"
      "footer";
  }
}
